
  <form action='/tweets' method="post">
    Team Name:
    <input type="text" name="team-name"><br>
    Create Your Team:
    Player 1: <input type="text" name="team[players]"><br>
    Player 2: <input type="text" name="team[players]"><br>
    Player 3: <input type="text" name="team[players]"><br>

    <input type="submit" name="submit" id="submit">

  </form>
