<% @teams.each do |team| %>
   <h2> <%= team.name %> </h2>
    <ul>
        <% team.players.each do |player| %>
        <li> <%= player.name %> </li>
        <% end %>
    </ul>
<% end %>


<form action="/logout" method="post">
  Logout?
  <input type="submit" name="logout" >
</form>