<% @teams.each do |team| %>
   <h2> <%= team.team_name%> </h2> 
    <ul>
        <% team.players.each do |player| %>
        <li><%= player.name %> </li>
        <% end %>
    </ul>
<% end %>

<a href="/teams/new">Create a New Team</a>
<a href="/logout">Log Out</a>