 <form action="/players/<%= @player.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Player:</label>
    <br>
    <input type="text" name="name" id="name" value="<%= @player.name %>">
    <br>
    <input type="text" name="position" id="position" value="<%= @player.position %>">
    <br>
    <input type="submit" value="submit">
</form>
 